@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans Arabic", sans-serif;
    color: white; 
  }
}
body{
  height: 100vh;
  background-image: url('https://picsum.photos/1280/720');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}